@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Bai Jamjuree', sans-serif;
}

body {
  background-color: black;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper-motion {
  height: 100vh;
  width: 100vw;
}

.wrap-scroll-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 180px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.scroll-indicator {
  color: white;
  font-size: 14px;
  line-height: 20px;
  transform: rotate(90deg) !important;
  position: relative;
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 85px;
  width: 40px;
  height: 1px;
  background: white;
}


.motion-world {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition-timing-function: linear;
}
.wrap-image-motion {

  height: 120vh;
}

.wrap-title {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  width: 100vw;
  height: 100vh;
  transition: all ease;
  /* top: -130vh; */
}

.wrap-title .title-motion {
  font-size: 24px;
  line-height: 30px;
  color: white;

  letter-spacing: 3.7em;
  text-transform: uppercase;
}

/* .wrap-title::before {
  content: '';
  position: absolute;
  top: -200px;
  width: 100%;
  height: 200px;

  background: linear-gradient(to top, #000, transparent);
} */

.wrap-images {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: all ease;
}

.image-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0; */
  transition: all ease;
  top: -90vh;
}

.wrap-text-slide-01 {
  position: relative;
  top: -125vh;
  z-index: 5;
  text-align: center;
}

.text-slide1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 69px;

  text-align: center;
  letter-spacing: 0.4em;
  color: white;
  text-transform: uppercase;
  
  position: relative;
  z-index: 3;

  width: 60%;
  margin: 0 auto;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 26px;
  transition: all ease;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  transition: all ease 600ms;
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  transition: all ease 800ms;
  z-index: -1;
}

.btn-primary:hover {
  color: #000;
  transition: all ease 800ms;
}

.btn-primary:hover::after {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  transition: all ease 1s;
}

.wrap-text-slide-02 {
  position: relative;
  top: -85vh;
  z-index: 5;
  text-align: center;

  background-image: url('./images/dark-sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap-text-slide-02:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(80% 70% at 90% 68%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 8%, #000000 100%)
}
